*{
   margin: 0;
   padding: 0;
}
.search{
   background-color: white;
   color: white;
   margin: 0.7%;
}
.searchinp{
   border: none;
   padding: 0.6%;
   background-color:white;
   width: 100%;
}
body{
   background-color: lightgray;
}
  .chat{
   display: flex;
   align-items: center;
   gap: 5px;
   margin: 0.7% 5%;
   height: 50px;
   background-color:white;

  }
  .chatlist{
   display: flex;
   width: 100%;
   justify-content: space-between;
  }
  .chatimg{
   border-radius: 50%;
   margin-left: 1%;
   height: 30px;
   width: 30px;
  }
  .chatstar{
   text-align: center;

  }